{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<style>
    .home-form {
        min-width:600px;
        background-color: #FFF;
        padding: 25px 25px;
        border-radius: 0px 0px 15px 15px;
    }

</style>
{% endblock %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm home-form">
            {% if user is none %}
            <h1>Welcome to FriendSafe!</h1>
            <h4>A swell place to be</h4>
             <a href="/login"><button type="button" id="login-button" class="btn btn-dark">Login</button></a>
             <a href="/register"><button type="button" id="register-button" class="btn btn-secondary">Sign up!</button></a>
            {% endif %}
            {% if user %}
                <form method="post" action="/post">
                  <div class="form-group">
                    <textarea name="content" class="form-control" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <br />
                <ul class="list-group">
                {% for post in posts %}
                    <li class="list-group-item">{{ post.user.display_name }}: {{ post.content }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
{% endblock %}
</html>