{% extends "base.html" %}
{% block title %}{{action}}{% endblock %}
{% block head %}
<style>
    .login-form {
        min-width:600px;
        background-color: #FFF;
        padding: 25px 25px;
        border-radius: 0px 0px 15px 15px;
    }
</style>
{% endblock %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm login-form">
          <form method="post" action="/{{ action }}">
              <div class="form-group">
                  {% if action=='login'%}
                     <h3>Login to FriendSafe!</h3>
                  {% endif %}
                  {% if action=='register'%}
                     <h3>Register for FriendSafe!</h3>
                  {% endif %}
                <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email Address">
                {% if action=='register'%}
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                {% endif %}
              </div>
              <div class="form-group">
                <input name="password" type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              {% if action=='login'%}
                     <a href="/register"><button type="button" id="register-button" class="btn btn-link">Haven't Registered? Click here to signup!</button></a>
              {% endif %}
            </form>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
{% endblock %}
</html>